body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: antiquewhite;
  margin: 30px;
}

h1 {
  margin-bottom: 0;
}

h3 {
  margin: 0;
}

ul {
  padding: 0;
}

ul > li {
  list-style-position: inside;
  margin-top: 10px;
}

a {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.personal-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.info-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0;
}

.container {
  width: 30%;
}

.profile-pic-section {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.bold {
  font-weight: 900;
}

.underline {
  text-decoration: underline;
}

#education-list {
  list-style-type: "\1F393";
}

#experience-list {
  list-style-type: "\1f3e2";
}

#skills-list {
  list-style-type: "\2714";
}

.text-shadow {
  text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.3);
}

#profile-pic {
  align-self: center;
  height: 300px;
  width: 300px;
  border-radius: 10%;
}

@media screen and (max-width: 900px) {
  .info-columns {
    flex-direction: column;
  }

  .container {
    width: 100%;
  }
}
