:root {
  --primary-brand-color: #29949e;
  --secondary-brand-color: #94C0D2;
  --accent-brand-color: #ebb056;
  --primary-light: #ececf0;
  --primary-dark: #3C3C57;
}

.primary-brand-color {
  background-color: var(--primary-brand-color);
}
.secondary-brand-color {
  background-color: var(--secondary-brand-color);
}
.accent-brand-color {
  background-color: var(--accent-brand-color);
}
.primary-light {
  background-color: var(--primary-light);
}
.primary-dark {
  background-color: var(--primary-dark);
}

.change-font-color {
  color: var(--primary-light);
}

body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding:10px;
  text-align:center;
}

h4{
  padding-bottom:10px;
  padding-left:10px
}


.color-swatch {
  height: 200px;
  width: 100px;
}

.active {
  color: var(--accent-brand-color) !important;
  font-weight: bold;
}

a{
  color:#3C3C57;
  text-decoration:none;
}

.homeHeaders{
  color:#ececf0;
}

.homeBox{
  padding-top:30px;
  padding-bottom:30px;
  vertical-align: middle;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.card {
  flex: 1 0 auto;
}